@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

.container,
.nav ul {
  margin: auto;
  max-width: 600px;
  width: 100%;
}

.nav {
  background: rgba(25, 85, 85, 0.3);
  display: flex;
  margin: 0 0 20px;

  ul {
    display: flex;
    justify-content: center;

    li {
      a {
        color: rgba(0, 0, 0, 0.5);
        display: block;
        padding: 10px 25px;
        text-decoration: none;

        &.active {
          background: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}

h1 {
  font-weight: normal;
  font-size: 25px;
  margin: 0 0 20px;
}

.users {
  ul {
    li {
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);

      a {
        color: #666;
        display: block;
        padding: 10px 0;
        text-decoration: none;

        &:hover {
          color: #000;
        }
      }
    }
  }
}

.photos {
  ul {
    li {
      align-items: center;
      display: flex;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      
      a {
        color: #666;
        flex: 1;
        margin: 0 10px 0 0;
        padding: 20px 0;
        text-decoration: none;

        &:hover {
          color: #000;
        }
      }
    }
  }
}

.photos {
  &-count {
    font-weight: normal;
    margin: 0 0 30px;
  }
}

.user-details,
.photo-details {
  font-size: 18px;

  ul {
    li {
      margin: 0 0 6px;

      img {
        max-width: 100%;
      }
    }
  }
}

.loader {
  animation: loading 1s linear infinite;
  border: 5px solid #000;
  border-right: 5px solid transparent;
  border-radius: 50%;
  font-size: 16px;
  height: 30px;
  width: 30px;
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

.button {
  &-delete {
    align-items: center;
    background: none;
    border:none;
    color: #666;
    cursor: pointer;
    display: flex;
    font-size: 30px;
    font-weight: 300;
    justify-content: center;
    transform: rotate(45deg);

    &:Hover {
      color: #000;
    }
  }
}
